.navbar {
	box-shadow: rgba(74,74,74,0.2) 0px 20px 35px 0px;
	height: 70px;
	background-color: white;
	padding-left:20px;

}

/*logo correction dropdown of navbar correction   video not working*/

.mr-auto {
	background-color:white; 
}

/*text bold*/
.nav-item {
font: bold;
}
/*text ko bold krna hai*/
.bodyleavingnav {
	background-color: #f5f5f5;
}
/*-------------------------------------text over title picture---------------------------------------*/
.heading {
    padding-top: 130px;
	text-align: center;
	font-size: 70px;
	color: white;
}
 /*------------------------------------------text over title picture-----------------------------------------*/
h3 {
	padding-top: 20px;
    text-align: center;
    
}
/*-------------------------------------------title picture of home.html----------------------------------------*/
.titlepicture {
	
	height: 450px;
	width: 100%;
	 background: url(title1.jpeg) ;
	background-size: cover;
	font-family: 'Jost', sans-serif;
	text-align: center;
	margin-bottom: 66px;
}
/*-----------------------------------------food vali crusive line-------------------------------------------*/
.titletext2 {
	font-size: 48px;
	font-family: 'Yesteryear', cursive;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
	color: rgba(0,0,0,.6)
}
/*---------------------------------------collection of thumbs----------------------------------------------*/
.thumb{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
}
/*-----------------------------------------ek ek thumb-----------------------------------------------------------*/
.personalthumb {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
	margin: 10px;
	margin-bottom: 60px;
	font-family: 'Jost', sans-serif;
	font-size: 20px;
	transition-duration: 1s;
	border-radius: 3px;
	background-color: white;
	margin: 50px;
	box-shadow: rgba(74, 74, 74, 0.8) 0px 10px 10px 0px;
/*text-decoration-color: rgb(0,0,0);    color*/
}

.dishnames {
  width: 250px;
  border: solid black 0px 2px 2px 2px;
  text-align: center;
  color: black;
  margin-bottom:30px;
}

img {
	height: 250px;
	width: 250px;
	border-radius: 3px;
	transition: all 1s;
    position: relative;
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
    padding-top: 10px;
    border-top: solid black 5px;
}

.personalthumbnail:hover {
	transform: scale(1.1);
	box-shadow: rgba(74, 74, 74, 0.6) 0px 20px 35px 0px;
}


@media only screen and (max-width: 991px){
	.navbar{
		padding-left: 0px;
	}
}

.foot {
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height:100px;
  background-color: #0B2027;
  color: white;
  text-align: center;
}





/*-----------------------------------------title picture for drinks.html-------------------------------------*/
.titlepicturedrinks {
	
	height: 450px;
	width: 100%;
	 background: url(drinks.jpeg) ;
	background-size: cover;
	font-family: 'Jost', sans-serif;
	text-align: center;
	margin-bottom: 66px;
}
/*=------------------------------------title picture fro desserts.html-------------------------------------*/

.titlepicturedesserts {
	height: 450px;
	width: 100%;
	 background: url(desserts.jpeg) ;
	background-size: cover;
	font-family: 'Jost', sans-serif;
	text-align: center;
	margin-bottom: 66px;
}
/*-----------------------------------title picture of snacks.html-------------------------------------------*/
.titlepicturesnacks{
	height: 450px;
	width: 100%;
	 background: url(snacks.jpeg) ;
	background-size: cover;
	font-family: 'Jost', sans-serif;
	text-align: center;
	margin-bottom: 66px;
}

@media only screen and (max-width: 993px){
	.logo {
		padding-top: 0px;
	}
	/*------------------------------------title picture for recommend.html-------------------------------------------------*/
	.titlepicturerecommend{
	font-family: 'Jost', sans-serif;
	text-align: center;
}

.recommendbody {
	background: url(recommend.jpeg);
	background-size: cover;

}
/*--------------------------------------------ABOUT---------------------------------------------------------------*/
.aboutdata {
	background-color: red;
	text-align: center;
	margin-top: 30%;
}